@font-face {
    font-family: 'domaine';
    src: url('./5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf');
}

@font-face {
    font-family: 'canopee';
    src: url('./616fd1dd00cf6c70f978fc69_Canopee.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: #C4BCB3;
    position: relative;
}

#nav{
    height: 77px;
    padding: 0 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}

#nav img{
    height: 20px;
    width: 30%;
}

#nav h5{
    font-size: 15px;
    font-weight: 100;
    width: 30%; 
}

#nav i{
    width: 30%;
    text-align: right;
}

#parts{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    /* background-color: red; */
}

#part1{
    width: 30%;
    height: 100%;
}

#part2{
    width: 30%;
    height: 100%;
    padding: 20px 60px;
    border-left: 2px solid #969696;
    border-right: 2px solid #969696;
    text-align: center;
}

#part3{
    width: 30%;
    height: 100%;
}

#part1 #imgdiv{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

#imgdiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#imgdiv img:hover{
    scale: 1.1;
    cursor: pointer;
}

#part3 #imgdiv{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

#part1 h4{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}

#part1 h4 span{
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 2px;
    border-radius: 5px;
    margin-left: 5px;
}

#part1 p{
    font-size: 19px;
    font-family: domaine;
    font-weight: 100;
    letter-spacing: 0.1px;
    color: #54514C;
}

#part3 h4{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}

#part3 h4 span{
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 2px;
    border-radius: 5px;
    margin-left: 5px;
}

#part3 p{
    font-size: 19px;
    font-family: domaine;
    font-weight: 100;
    letter-spacing: 0.1px;
    color: #54514C;
}